body{
    background:gray;
}
button{
    border:none;
    background:aliceblue;
    padding:10px 17px 10px 17px; 
    border-radius:50px;
    font-weight:600;
    font-size:20px;
    font-family:fantasy;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}
button:hover{
    transform:translateZ(10px) scale(0.95);
    cursor:pointer;
    background:rgb(206, 217, 228);
}
#egale{
    background:green;
    color:#fff;
    width:50%;
    margin-left:10px;
    border-radius:10px;
    font-size:20px;
}
#Calculatrice{
    background:aliceblue;
    width:250px;
    margin: auto;
    text-align:center;
    padding:50px;
    margin-top:60px;
    border-radius:10px;
}
.rang{
    padding:7px;
    width:100%;
    position:relative;
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-top:8px;
}
input{
    margin-left:-8px;
    border:1px solid gray;
    text-align:end;
    padding:10px;
    border-radius:10px;
    border:none;
    width:100%;
    outline:none;
    position:relative;
    font-weight:600;
    font-size:20px;
    font-family:fantasy;
    color:#fff;
    background:#000;
}
.Sombre_Clair{
    width:20%;
    padding-top:20px;
    margin-left:12px;
}
@media (max-width:350px){
    #Calculatrice {
        width:250px;
    }
    .rang{
        margin-left:-12px;
    }
    #egale{
    background:green;
    color:#fff;
    width:130px;
    margin-left:30px;
    border-radius:10px;
    font-size:20px;
    }

}
